{% extends 'main.html' %}
{% block content %}
<head> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></head>
<h3>Total number of items consumed today: {{cnt}}</h3>

<div class="today">
	<h2>Tracker</h2>
	<div class="flex-box-row">
		<h3>Calorie Limit: 2000</h3>
		<h3>totalCalories consumed: {{totalCalories}}</h3>
		<h3>Left: {{ CaloriesLeft }}</h3>
	</div>
<!-- {% if has_filter %}
  <a href="{%  url 'user' %}"> 'Clear all filters' </a>
{% endif %} -->
    <div class="card card-body">
        <table id="myTable">
            <tr>
                <th>Food item</th>
                <th>Calories</th>
                <th>Carbs</th>
                <th>Fats</th>
                <th>Protein</th>
            </tr>
            {% for food in foodlist %}
            <tr>
                <td> {{food.name}}</td>
                <td> {{food.calories}}</td>
                <td> {{food.carbohydrate}}</td>
                <td> {{food.fats}}</td>
				<td> {{food.protein}}</td>
				<td><a href="delete/{{ food.id }}">delete</a></td>
				
			</tr>
            {% endfor %}
        </table>
		<button onclick="myDeleteFunction()">Delete last item</button>

		<!-- <script>
		function myDeleteFunction() {
		document.getElementById("MyTable").deleteRow(1);
		}
		</script> -->
		<script>
		function myDeleteFunction() {
  		document.getElementById("myTable").deleteRow(1);
		}		
		</script>
		<input type="button" id="save" value="Save" />
		<script>
			function mySaveFunction() {
			document.updateElement("myTable");	
			}
		</script>
	</div>
	<form action="{% url 'addFooditem' %}" method="POST">
		{%csrf_token%}
		<button type="submit" class="btn btn-success">
			<span class="glyphicon glyphicon-plus"></span>
		</button>
		
		<!-- <input type="reset" value="Reset" 
		style="background-color: red; 
				color: white" /> -->
		<!-- <button type="reset"></button>
		<input type="button" value="reset" id="resetBtn" onClick="this.form.reset()" /> -->
	</form> 
</div>

<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">
				{{myfilter.form}}
		    <button class="btn btn-primary" type="submit">Search</button>
			
            <input type="reset" value="Reset" 
                style="background-color: red; 
                        color: white" />
		  </form>
		</div>
	</div>
</div>
<br>
<hr>
<h3>Available items:</h3>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>fooditem</th>
					<th>Calories</th>
					<th>Carbs</th>
					<th>Fats</th>
					<th>Protein</th>
				</tr>
				{% for food in fooditem %}
				<tr>
					<td>{{food.name}}</td>
					<td> {{food.calories}}</td>
					<td> {{food.carbohydrate}}</td>
                    <td> {{food.fats}}</td>
                    <td> {{food.protein}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}